# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build folders
dist/
build/

# Uploaded files
uploads/

# Temporary files
tmp/
temp/

# Cache
.cache/

# Coverage
coverage/

# Package lock optional
# package-lock.json

notes.txt
